version: "3.5"

services:
  cardano-node-${NETWORK}-${NODE_VERSION}:
    container_name: node-${NETWORK}-${NODE_VERSION}-container
    network_mode: "host"
    build:
      context: ./
      args:
        CARDANO_NODE_VERSION: ${NODE_VERSION}
        CARDANO_NODE_NETWORK_ID: ${NETWORK_ID}
        CARDANO_NODE_PORT: ${NODE_PORT}
    restart: always
    volumes:
      - ./node-${NETWORK}-${NODE_VERSION}/db:/data/db
      - ./node-${NETWORK}-${NODE_VERSION}/config:/config
      - ./node-${NETWORK}-${NODE_VERSION}/ipc:/ipc
      - ./keys:/keys
      - ./txs:/txs
      - ./dumps:/dumps
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

volumes:
  node-db:
  node-ipc:
